[Desktop Entry]
Name=xmoto
Comment=Clone of across/elma games
Comment[pl]=Klon gry across/elma
Exec=xmoto
Icon=xmoto.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
